/* Style pour la page de factures */
.facture-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  /* Style pour la partie gauche de la page */
  .left-side {
    width: 60%;
  }
  
  .left-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .left-top input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style pour les boutons */
  .green-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .blue-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .new-facture-form {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .table th {
    background-color: skyblue;
    font-weight: bold;
    text-align: left;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tr:hover {
    background-color: #ddd;
  }
  

  .right-side {
    width: 35%;
  }
  
  .right-side h1 {
    margin-bottom: 10px;
  }
  
  .right-side p {
    margin-bottom: 20px;
  }
  